.text-hint {
  text-align: center;
  padding: 1rem 0;
}

.aperture-selector {
  width: 100px;
}

.label {
  padding-right: 1rem;
}

.fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: 0;
  margin-top: 0.5rem;
}
